# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mongodb://127.0.0.1:27017/new_im"
SYSTEM_PRIVATE_KEY="5714178cd10822e97030b8fdee218833e51abbe5c5623ae771c930e1f2c65a1d"
SYSTEM_PUBLIC_KEY="03cdfca1eda820c1fe0f54d7b5d3914c72b17d1db1269f24e50ed8cdd06300b2e7"
STATIC_URL="http://baidu.com"
REDIS_HOST="localhost"
REDIS_PORT=6379
NODES="baidu.com,test.com"
TEST_USER_ID="0x2a11fcb2dc01ee6cc42117cbca923dda361e7be40ad0d7ff998524f0b104d3b9"
